@font-face {
    font-family: 'Yellowtail';
    src: url('./fonts/Yellowtail-Regular.ttf');
}

header {
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}